{% extends 'base.html' %}
{% block content %}
<div class="center">
    <h1>List all users</h1>
    <hr>
    <table class="table">
       <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Actions</th>
            <th scope="col">Icon</th>
        </tr>
        <tbody>
            {% for usr in users %}
            <tr>
                <th>{{ usr.name }}</th>
                <th>{{ usr.email }}</th>
                <th scope="col">
                    <a href="{% url 'update' usr.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update</a>
                    <a href="{% url 'delete' usr.id %}" class="btn btn-danger btn-lg active"  role="button" aria-pressed="true">Delete</a>
                </th>
                <th scope="col">Image</th>
                </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a href="{% url 'create' %}">Create new user</a>
</div>
{% endblock %}